@require '../style/variables'

.Content
    h1, h2, h3, p, img
        margin-top: $spacing-factor
        @media (min-width: $sm-threshold)
            margin-top: 2 * $spacing-factor

    img
        width: 100%

    figure
        width: 100%

    figcaption
        font-style: italic
        margin-top: .5 * $spacing-factor
        text-align: center
