@require '../style/variables'

.Link
    color: $link-color
    cursor: pointer
    transition: color ease .3s

    &:hover, &:focus
        color: $link-color-hover

    &--no-underline
        text-decoration: none
