// Palette of colors - do not use directly. Create intermdiary variables instead
$dark-grey = #3a4145
$light-grey = lighten($dark-grey, 35%)
$lighter-grey = lighten($dark-grey, 90%)
$blue = #57a3e8

$sm-threshold = 768px
$md-threshold = 992px
$lg-threshold = 1400px

$base-font-size = 21px
$base-font-color = $dark-grey
$spacing-factor = 1rem

$link-color = $dark-grey
$link-color-hover = $blue
$divider-color = $lighter-grey

$header-bckgnd-color = $dark-grey
$header-color = white
$footer-color = $light-grey
