@require '../style/variables'

.Divider
    display: flex
    flex-basis: 100%
    align-items: center
    border: none

    &:before, &:after
        content: ""
        flex-grow: 1
        background: $divider-color
        height: 1px
        font-size: 0
        line-height: 0
