@require '../style/variables'

.Header
    background-color: $header-bckgnd-color
    color: $header-color

    text-align: center
    @media(min-width: $sm-threshold)
        text-align: left

    &__image
        border-radius: 50%
        width: 100%

    &__link.Link
        color: white

    &__icons
        margin-top: 0.5rem
        font-size: 1.25rem

        a
            margin-right: 0.5rem
