// Reset style on base html tags
html
    color: $base-font-color
    font-family: 'Noto Serif', serif
    font-size: $base-font-size
    height: 100%

body
    min-height: 100%
    letter-spacing: -.003rem
    line-height: 1.6em

html, body, p, h1, h2, h3, h4, h5, h6, figure, figcaption, blockquote
    margin: 0
    padding: 0

h1, h2, h3, h4, h5, h6, time
    font-family: 'Noto Sans', sans-serif

h1
    line-height: 1.2em
    font-size: 2rem

h2
    line-height: 1.2em
    font-size: 1.6rem

h3
    line-height: 1.2em
    font-size: 1.2rem

*
    box-sizing: border-box
