// Reset style on base html tags
html
    color: $base-font-color
    font-family: 'Noto Sans', sans-serif
    font-size: $base-font-size
    height: 100%

body
    min-height: 100%

html, body, p, h1, h2, h3, h4, h5, h6
    margin: 0
    padding: 0

*
    box-sizing: border-box
