// Palette of colors - do not use directly. Create intermdiary variables instead
$dark-grey = #3a4145
$light-grey = lighten($dark-grey, 35%)
$blue = #57a3e8

$sm-threshold = 768px
$md-threshold = 992px
$lg-threshold = 1200px

$base-font-size = 20px
$base-font-color = $dark-grey

$link-color = $dark-grey
$link-color-hover = $blue
$divider-color = $light-grey

$header-bckgnd-color = $dark-grey
$header-color = white
$footer-color = $light-grey
